.feed {
  border-right: 1px solid rgb(239, 243, 244);
  min-width: fit-content;
  overflow-y: scroll;
  max-width: 600px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed_header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
}

.feed_header .feed_header_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.feed_header .feed_header_left {
  padding-left: 20px;
}

.feed_header_font {
  font-weight: bold;
}
.feed_header > h2 {
  font-size: 20px;
  font-weight: 800;
}
